@using DailySpin.ViewModel.ViewModels;
@model RouletteViewModel

@{
    ViewData["Title"] = "Glasses Page";
}

<script src="js/signalr/dist/browser/signalr.min.js"></script>

<div>
    <div class="animation">
        <div class="app">
            <img class="pointer" src="img/pointer.png" alt="">
            <div class="scope">
              <ul class="list"></ul>
            </div>            
        </div>
    </div>
    <div>
        <label class="error-label" id="result"></label>
    </div>
    <div id="timer">
        <span id="seconds"></span>
    </div>
    <br />
    <div class="my-sitebar">
        <div id="navigate-panel" class="bet-panel-background">
        
            <div class="bet-panel">
                <button id="reloadBalance" class="panel-link btn border-0">↻</button>
                <input placeholder="Enter bet amount ..." id="bet" min="1" max="10000000" class="bet-input form-control font-weight-bold" type="number" name="bet" style="font-size:18px; font-family:Aleo">
                <button id="Clear" class="panel-link btn border-0">Clear</button>
                <button id="+1" class="panel-link btn border-0">+1</button>
                <button id="+10" class="panel-link btn border-0">+10</button>
                <button id="+100" class="panel-link btn border-0">+100</button>
                <button id="+1000" class="panel-link btn border-0">+1000</button>
                <button id="MAX" class="panel-link btn border-0">MAX</button>
            </div>
            <label class="error-label" id="errorlbl"></label>
        </div>
        <div class="history-scope">
            <ul class="history"></ul>
        </div>
    </div>
        </div>
        <div>
    <div class="page-glasses">
            @foreach (var glass in Model.ModelList)
            {
                <div class="bets-glass">
                    <p>
                        <button id="@glass.ColorType b" class="betglass btn btn-link border-0">
                            <img class="user-avatar" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(glass.GlassImage))"/> PLACE BET     WIN x @glass.BetMultiply
                        </button>
                    </p>
                    <div class="bets">
                        <p>
                            <p id="@glass.ColorType"></p>
                        </p>
                    </div>
                </div>
            }

     </div>   
</div>
<script src="~/js/site.js" asp-append-version="true"></script>