@model DailySpin.ViewModel.ViewModels.RegisterViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Регистрация";
}

<div style="padding: 20px;"></div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <span class="anchor"></span>
                    <div class="form-control">
                        <div class="card-header">
                            <h3 class="text-center">Registration</h3>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="All" style="font-size:23px; font-family:Aleo" class="text-danger text-center"></div>
                                <div class="form-group">
                                    <label asp-for="Nickname">Nickname</label>
                                    <input asp-for="Nickname" class="form-control" placeholder="nickname" type="text">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                </div>
                                <div class="form-group">
                                <span class="text">Password length must be higher then 5 symbols</span>
                                    <input autocomplete="new-password" asp-for="Password" placeholder="Password" class="form-control" type="password">
                                </div>
                                <div class="form-group">
                                    <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Confirm password" class="form-control" type="password">
                                </div>
                                <label asp-for="Image"></label>
                                <div class="form-group">
                                    <input asp-for="Image" aria-required="true" type="file" accept="image/*" />
                                </div>
                                <div>
                                    <button class="btn btn-success" type="submit">Complete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>