@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h5 class="display-4">This is home page</h5>
    <h5 class="display-4">There will be future website</h5>
</div>
