<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="#">Deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="" asp-action="#">Withdraw</a>
    </li>
    <li class="nav-item">
        </li>
        <li class="balance-user">
            @await Component.InvokeAsync("LoginedUserData")
        </li>
            <img class="user-avatar" src="@await Component.InvokeAsync("LoadUserImage")"/>
        <li class="nav-item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                        <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
