header {
    background-color: #06060f;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #030307;
}

html {
    background-color: #0C111D;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0c111d;
    font-family: "Aleo";
}

main {
    color: #DDE119;
    background-color: #0c111d;
    font-family: "Aleo";
}

input.form-control, input.form-control.valid, input.form-control.input-validation-error, input.form-floating, input.form-control:focus {
    color: #DDE119;
    font: #DDE119;
    background-color: #0c111d;
    font-family: "Aleo";
}

.container {
    background-color: #0c111d;
}

a.navbar-brand {
    margin-left: 5%;
    color: #DDE119;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
}

a.navbar-brand:hover {
    text-shadow: 
       0 0 10px  #DDE119,
       0 0 20px #DDE119;
}

a.nav-link {
    color: #DDE119;
    background-color: #2C2B4D;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 15px;
}
a.nav-link:hover {
    color: #2C2B4D;
    background-color: #DDE119;
}

button.nav-link {
    color: #DDE119;
    background-color: #2C2B4D;
    border-radius: 15px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto; 
}
button.nav-link:hover {
    color: #2C2B4D;
    background-color: #DDE119;
}

.center-align {
    line-height: 25px;
}

.balance-user {
    color: #DDE119;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 30px;
    margin-left: 5px;
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
    text-shadow: 0 0 10px #DDE119;
}

.user-avatar {
    border-radius: 30px;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.navbar-collapse {
    margin-right: 1%;
}

.display-4 {
    color: #DDE119;
}

.display-2 {
    color: #DDE119;
}